.blue{
  color: blue;
}


.ue{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center
  
}

.naka{

  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center
}



.shita{
 
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center
}


.waku{
  border: 1px solid black;
  height: 100%;
  width: 30%;
  
}